<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Vehicle</title>
</head>
<body>
    <h1>Edit Vehicle</h1>
    <form method="POST">
        <label for="Marka">Marka:</label>
        <input type="text" id="Marka" name="Marka" value="{{ vozilo.Marka }}"><br>
        <label for="Model">Model:</label>
        <input type="text" id="Model" name="Model" value="{{ vozilo.Model }}"><br>
        <label for="Boja">Boja:</label>
        <input type="text" id="Boja" name="Boja" value="{{ vozilo.Boja }}"><br>
        <label for="GodinaProizvodnje">Godina Proizvodnje:</label>
        <input type="text" id="GodinaProizvodnje" name="GodinaProizvodnje" value="{{ vozilo.GodinaProizvodnje }}"><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
