{% extends "base.html" %}
{% block content %}
<h1>Welcome to Parking+</h1>
<p>Use the navigation above to manage vehicles and parking spots.</p>

<h2>Vehicles</h2>
<ul>
    {% for vozilo in vozila %}
        <li>{{ vozilo.RegistarskaOznaka }} - {{ vozilo.Marka }} {{ vozilo.Model }} - {{ vozilo.Boja }} - {{ vozilo.GodinaProizvodnje }}
            <a href="{{ url_for('edit_vozilo', RegistarskaOznaka=vozilo.RegistarskaOznaka) }}">Edit</a>
            <form action="/vozila/delete/{{ vozilo.RegistarskaOznaka }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>

<h2>Parking Spots</h2>
<ul>
    {% for mjesto in parkirna_mjesta %}
        <li>{{ mjesto.IdentifikatorMjesta }} - {{ mjesto.Status }} - {{ mjesto.VrijemeParkiranja }}
            <a href="{{ url_for('edit_parkirno_mjesto', IdentifikatorMjesta=mjesto.IdentifikatorMjesta) }}">Edit</a>
            <form action="/parkirna_mjesta/delete/{{ mjesto.IdentifikatorMjesta }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
